<div class="container-full">
    <app-navbar></app-navbar>
    <!--Section: FAQ-->
    <section>
        <div class="row justify-content-center gapsectionsecond">
            <div class="col-lg-7 text-center">
                <div class="title-big pb-3 mb-3 pt-3">
                <h1 class="text-center pb-2  fw-bold">Benvenuti alle nostre FAQ del Car Sharing!</h1>
                <img src="../../../assets/image/Decorazione-removebg.png">
            </div>
            </div>
            <p class="text-center mb-5">
                Tutte le risposte di cui hai bisogno, raccolte in un unico posto. Scopri le domande più comuni e le risposte
                dettagliate per semplificare la tua esperienza di car sharing. 
            </p>
        </div>
        

        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4">
                <h5 class="mb-3 text-danger"><i class="far fa-paper-plane text-danger pe-2"></i>Come posso iscrivermi al
                    servizio di car sharing?</h5>
                <p>
                    <strong><u>Semplice!</u></strong> L'iscrizione al nostro servizio di car sharing è semplice e
                    veloce. Basta visitare la nostra pagina di registrazione online, compilare i dati richiesti e
                    seguire le istruzioni per la verifica dell'account. Una volta completata la registrazione, sarai
                    pronto a prenotare il tuo primo veicolo.
                </p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <h5 class="mb-3 text-danger"><i class="fas fa-pen-alt text-danger pe-2"></i> Quali sono i requisiti per
                    iscriversi al servizio?</h5>
                <p>
                    <strong><u>Importante!</u></strong> Per iscriversi, devi avere almeno 18 anni, possedere una patente
                    di guida valida e soddisfare i requisiti di verifica dell'account. Assicurati di leggere i nostri
                    Termini e Condizioni per ulteriori dettagli sui requisiti.
                </p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <h5 class="mb-3 text-danger"><i class="fas fa-user text-danger pe-2"></i> Come funziona il processo di
                    prenotazione?
                </h5>
                <p>
                    Dopo esserti registrato, puoi effettuare una prenotazione tramite il nostro sito web o l'app mobile.
                    Seleziona il veicolo desiderato, la data e l'orario di prelievo, e conferma la prenotazione. Una
                    volta confermata, riceverai istruzioni su come ritirare il veicolo.
                </p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <h5 class="mb-3 text-danger"><i class="fas fa-rocket text-danger pe-2"></i>Quali sono le tariffe del
                    servizio di car sharing?
                </h5>
                <p>
                    Offriamo diverse opzioni tariffarie, tra cui la tariffa base al minuto, pacchetti orari e
                    giornalieri, nonché abbonamenti mensili. Puoi trovare i dettagli completi sulle tariffe nella nostra
                    sezione "Tariffe&Servizi" del sito web.
                </p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <h5 class="mb-3 text-danger"><i class="fas fa-home text-danger pe-2"></i>Cosa succede in
                    caso di problemi durante il noleggio?
                </h5>
                <p><strong><u>Ci siamo noi!</u></strong> In caso di problemi durante il noleggio, puoi contattare il
                    nostro servizio di assistenza stradale 24/7. Saremo pronti ad aiutarti con qualsiasi problema
                    tecnico o emergenza.</p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <h5 class="mb-3 text-danger"><i class="fas fa-book-open text-danger pe-2"></i> Come posso vedere la
                    disponibilità dei veicoli?</h5>
                <p>
                    La disponibilità dei veicoli è visibile sulla nostra piattaforma online. Puoi verificare la
                    disponibilità in tempo reale e prenotare un veicolo che soddisfi le tue esigenze.
                </p>
            </div>
        </div>
    </section>
    <!--Section: FAQ-->
    <app-footer></app-footer>
</div>