<table *ngIf="isVisible" class="table table-hover caption-top">
    <caption>
        <i class="fa-solid fa-car fa-xs me-3" style="color: #000000;"></i>
        Lista Autoveicoli
    </caption>
    <thead>
        <tr>
            <th scope="col" class="text-center">Targa Veicolo</th>
            <th scope="col" class="text-center">Immatricolazione</th>
            <th scope="col" class="text-center">Chilometraggio</th>
            <th scope="col" class="text-center">Stato Veicolo</th>
            <th scope="col" class="text-center">Area di Stazionamento</th>
            <th scope="col" class="text-center"></th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td class="text-center">{{vehicle?.plateNumber}}</td>
            <td class="text-center">{{vehicle?.registrationYear}}</td>
            <td class="text-center">{{vehicle?.lastKm}} km</td>
            <td class="text-center">
                <i *ngIf="vehicle.state == 'L'" class="fa-solid fa-square-check fa-xs me-3 ripple" style="color: #4dff00;"></i>
                <i *ngIf="vehicle.state == 'P'" class="fa-solid fa-square-xmark fa-xs me-3 ripple" style="color: #ff0000;"></i>
            </td>
            <td class="text-center">{{vehicle?.standoffArea?.code}}</td>
            <td class="text-center"><button class="btn btn-sm btn-dark me-2"
                (click)="activateVehicleSchedaPopup(vehicle)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                    </svg>
                </button>
            </td>
        </tr>
    </tbody>
</table> 

