<nav class="navbar navbar-expand-lg navbar-light bg-black">
    <div class="container-fluid">
      <div class=" collapse navbar-collapse">
        <ul class="navbar-nav mx-auto ">
          <li class="nav-item-spaced">
            <a class="nav-link active" aria-current="page" style="cursor:pointer;" [routerLink]="['']">HOME</a>
          </li>
          <li class="nav-item-spaced">
            <a class="nav-link active" aria-current="page" style="cursor:pointer;" [routerLink]="['/rates']">TARIFFE & SERVIZI</a>
          </li>
          <li class="nav-item-spaced d-none d-lg-block">
            <a class="navbar-brand text-white fw-bold">
              <img src="../../../assets/image/logo_cs.png" alt="logo">
          </a>
          </li>
          <li class="nav-item-spaced">
            <a class="nav-link active" aria-current="page" style="cursor:pointer;" [routerLink]="['/faq']">FAQ</a>
          </li>
          <li class="nav-item-spaced">
            <a class="nav-link active" aria-current="page" style="cursor:pointer;" [routerLink]="['/workWithUs']">LAVORA CON NOI</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>